#todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 620px;
}

#todo-form input {
  width: 500px;
  height: 30px;
  padding: 10px;
  border: 1px solid rgba(255,255,255, 0.1);
  background-color: rgba(0,0,0,0.1);
  font-size: 25px;
  color: blanchedalmond;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#todo-form input::placeholder {
  color: blanchedalmond;
  font-style: italic;
}

.item {
  margin: 10px 0;
}